/*
@media screen and (max-width: 767px){
    body{
        background: red;
    }
    p{
        font-size: 50px;
    }
}

@media screen and (min-width: 767px){
    body{
        background: blue;
        color: white;
        font-size: 100px;
    };
}

@media screen and (min-width: 992px){
    body{
        background: orange;
    };
}

@media screen and (min-width: 1200px){
    body{
        background: black;
        color: white
    };
}*/

.item{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    /*não esconde o que excede
    overflow: visible;*/

    /*esconde o que excede da div
    overflow: hidden;*/

    /*exibe uma barra de rolagem
    overflow: scroll;*/

    /*exibe a barra somente se for necessário*/
    overflow: auto;
}